    <ul role="navigation">
        {% assign departments = site.data.members.departments | sort: 'name' %}
        {% for department in departments %}
        <li>
            <h2>{{ department.name }}</h2>
            <ul>
                {% assign members = department.members | sort: 'fullname' %}
                {% for member in members %}
                    {% assign names = member.fullname | split:" " %}
                <li><a href="{{ site.baseurl }}/profiles/{% include slug-from-member.lqd %}/">{{ names.first() }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
